[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
tabulate = "*"
matplotlib = "*"
plotly = "*"
seaborn = "*"
nbformat = "*"
ipywidgets = "*"
fastapi-and-machine-learning = {editable = true, path = "."}
fastapi = {extras = ["all"], version = "*"}
diffusers = "==0.8.0"
transformers = "*"
scipy = "*"
ftfy = "*"
mypy = "*"
ruff = "*"
black = "*"
ipykernel = "*"

[dev-packages]

[requires]
python_version = "3.8"
